@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-tesla-black;
  }
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
